# $schema: http://json.schemastore.org/github-workflow.json
name: main

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

env:
  ARTIFACT_REGISTRY: europe-north1-docker.pkg.dev/personal-artifacts-353012/harmelodic

jobs:
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@99d22090f97a855f32af8a5f56523a6a88bb2857

  build-go-container-image:
    uses: harmelodic/workflows/.github/workflows/build-go-container-image.yaml@99d22090f97a855f32af8a5f56523a6a88bb2857
    with:
      image: europe-north1-docker.pkg.dev/personal-artifacts-353012/harmelodic/init-microservice-go
    secrets: inherit

  release-mkdocs:
    uses: harmelodic/workflows/.github/workflows/verify-mkdocs.yaml@99d22090f97a855f32af8a5f56523a6a88bb2857
