# $schema: http://json.schemastore.org/github-workflow.json
name: main

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

env:
  ARTIFACT_REGISTRY: europe-north1-docker.pkg.dev/personal-artifacts-353012/harmelodic

jobs:
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@a51f90f38a250fc07c33743132f3a1028df5242d

  build-go-container-image:
    uses: harmelodic/workflows/.github/workflows/build-go-container-image.yaml@a51f90f38a250fc07c33743132f3a1028df5242d
    with:
      image: europe-north1-docker.pkg.dev/personal-artifacts-353012/harmelodic/init-microservice-go
    secrets: inherit

  release-mkdocs:
    uses: harmelodic/workflows/.github/workflows/verify-mkdocs.yaml@a51f90f38a250fc07c33743132f3a1028df5242d
