# $schema: http://json.schemastore.org/github-workflow.json
name: main

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

env:
  ARTIFACT_REGISTRY: europe-north1-docker.pkg.dev/personal-artifacts-353012/harmelodic

jobs:
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@c44182353bc2aeb71553d51fd348063ac314d576

  build-go-container-image:
    uses: harmelodic/workflows/.github/workflows/build-go-container-image.yaml@c44182353bc2aeb71553d51fd348063ac314d576
    with:
      image: europe-north1-docker.pkg.dev/personal-artifacts-353012/harmelodic/init-microservice-go
    secrets: inherit

  release-mkdocs:
    uses: harmelodic/workflows/.github/workflows/verify-mkdocs.yaml@c44182353bc2aeb71553d51fd348063ac314d576
