# $schema: http://json.schemastore.org/github-workflow.json
name: pull-request

on:
  pull_request:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@613ac589c4da38cc96bf4a5341e972c9e08809db

  verify-go-project:
    uses: harmelodic/workflows/.github/workflows/verify-go-project.yaml@613ac589c4da38cc96bf4a5341e972c9e08809db

  verify-mkdocs:
    uses: harmelodic/workflows/.github/workflows/verify-mkdocs.yaml@613ac589c4da38cc96bf4a5341e972c9e08809db
