# $schema: http://json.schemastore.org/github-workflow.json
name: pull-request

on:
  pull_request:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@2fde90ca793b21b68edc62e13266f44b08018da0

  verify-go-project:
    uses: harmelodic/workflows/.github/workflows/verify-go-project.yaml@2fde90ca793b21b68edc62e13266f44b08018da0

  verify-mkdocs:
    uses: harmelodic/workflows/.github/workflows/verify-mkdocs.yaml@2fde90ca793b21b68edc62e13266f44b08018da0
